.App{
  text-align: center;
}
.container{
  margin: 0 auto;
  width: 600px;
}
.tabs{
  display: flex;
  justify-content: space-between;

}
.tabs button{
  cursor: pointer;
  width: 100%;
  padding: 15px;
  margin-right: 15px;

}

.tabs button:disabled{
  background-color: black;
  color: white;
}
